header{
    background-color: black;
    text-align: center;
    color: white;
}
button{
    color: white;
}
img{
    position: absolute;
    z-index: -1;
    background-image:fixed;
    width:1270px;
    height: 400px;

}
.text,h1,h2,p,button{
    margin-left: 60px;
    
}

